/* 글 작성 버튼 */
.create-post-button {
  position: fixed; /* 화면에서 고정 */
  bottom: calc(120px); /* Footer 높이(60px) + Footer 위 45px */
  right: calc((100vw - 400px) / 2 + 17px); /* 화면 너비에서 400px 기준으로 중앙 정렬 */
  width: 68px; /* 아이콘 크기 설정 */
  height: 68px;
  cursor: pointer; /* 클릭 가능 커서 */
  z-index: 1000; /* 다른 요소 위에 표시 */
  border-radius: 50%; /* 둥근 버튼 모양 */

  object-fit: contain; /* 이미지 비율 유지 */
}

/* 호버 시 효과 */
.create-post-button:hover {
  transform: scale(1.1); /* 살짝 확대 */
  transition: transform 0.2s ease-in-out; /* 부드러운 애니메이션 */
}
