.kakao-map {
    width: 390px; 
    height: 700px; 
    position: fixed; 
    top: 145px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 999;
} 