/* 공통 스타일 */
.kakao-map {
    border-radius: 10px; 
    z-index: 999;
    border: 1px solid #ddd; /* 구분선 추가 */
  }
  
  /* LocationSelect와 LocationSelectPost용 커뮤니티 스타일 */
  .location-select-community .kakao-map {
    width: 377px; 
    height: 500px; 
    position: fixed; 
    top: 105px;
    left: 50%;
    transform: translate(-50%);
  }

  
  .location-select-community .search-bar {
    display: flex;
    position: absolute;
    top: 70px; /* 지도의 상단에 여백을 조금 줍니다 */
    left: 10px; /* 왼쪽에 여백 */
    right: 10px; /* 오른쪽에 여백 */
    z-index: 1000; /* 지도 위에 떠 있도록 설정 */
    background-color: white;
    border-radius: 5px 5px 0 0; /* 상단만 둥글게 설정 */
    padding: 10px;
    border: 1px solid #ddd; /* 구분선 추가 */
  }
  
  .search-bar input {
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px; /* 왼쪽 모서리만 둥글게 */
  }
  
  .search-bar button {
    padding: 8px;
    cursor: pointer;
    border: none;
    border-radius: 0 5px 5px 0; /* 오른쪽 모서리만 둥글게 */
    background-color: #4CAF50; /* 검색 버튼 색상 */
    color: white;
  }
  
  .location-select-community .search-results {
    position: absolute;
    top: 50px; /* 검색 창 아래에 위치 */
    left: 10px;
    right: 10px;
    max-height: 200px; /* 검색 결과의 최대 높이 */
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .search-result-item {
    padding: 8px;
    cursor: pointer;
  }
  
  .location-select-community .search-result-item:hover {
    background-color: #eee;
  }
  
   /* Weather.jsx용 메인 스타일 */
   .location-select-main .kakao-map {
    width: 377px; 
    height: 380px; 
    position: fixed; 
    top: 235px;
    left: 50%;
    transform: translate(-50%);
  }
  
  .location-select-main .search-bar {
    display: flex;
    position: absolute;
    top: 130px; /* 지도의 상단에 여백을 조금 줍니다 */
    left: 10px; /* 왼쪽에 여백 */
    right: 10px; /* 오른쪽에 여백 */
    z-index: 1000; /* 지도 위에 떠 있도록 설정 */
    background-color: white;
    border-radius: 5px 5px 0 0; /* 상단만 둥글게 설정 */
    padding: 10px;
    border: 1px solid #ddd; /* 구분선 추가 */
  }

  .location-select-main .search-results {
    position: absolute;
    top: 185px; /* 검색 창 아래에 위치 */
    left: 10px;
    right: 10px;
    max-height: 200px; /* 검색 결과의 최대 높이 */
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }