.location-select-post-1 {
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
}

.location-select-post {
  position: fixed; /* 화면에 고정 */
  background-color:white;
  /* top: 82px; Header 높이(88px) + Header 아래 15px */
  top: 3px;
  left: 50%; /* 핸드폰 레이아웃 중앙에 맞춰서 배치, 왼쪽 여백 17px */
  transform: translateX(-50%); /* 중앙 정렬 보정 */
  width: 400px; /* 좌우 여백을 계산해서 가로 길이 설정 */
  height: 60px; /* 높이를 적당히 설정 */
  display: flex;
  align-items: center;
  z-index: 1000; /* 다른 요소 위에 표시 */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}


.location-name {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin-right: 6px;
  margin-left: 12px;
}
 
.location-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 10px; /* 이미지의 기본 너비 설정 */
  height: 10px; /* 이미지의 기본 높이 설정 */
}

.location-dropdown {
  position: absolute;
  top: 40px;
  left: 10;
  width: 155px;
  height: 55px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-dropdown-item {
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
  color: #000;
}

.location-dropdown-item:hover {
  background-color: #f0f0f0;
}
