.post-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 100%;
  max-width: 340px;
}

.post-item h2 {
  font-size: 15px;
  font-weight: 500;
  color: #000;
  margin-bottom: 5px;
}

.post-item p {
  font-size: 13px;
  color: #a9a9a9;
  margin-bottom: 15px;
}

.post-item .location-time {
  display: flex;
  font-size: 13px;
  color: #a9a9a9;
}

.post-item .location-time .location {
  font-size: 13px;
}

.post-item .location-time .time {
  font-size: 13px;
}

.separator {
  margin: 0 5px; /* 양쪽에 5px 간격 */
  color: #a9a9a9; /* 회색 구분자 색상 */
}

.location-time-vote {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.vote-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.vote-button {
  display: flex;
  gap: 4px;
  background-color: white;  /* 버튼 배경색 흰색 */
  border: none;  /* 테두리 제거 */
  cursor: pointer;
}

.vote-button img {
  width: 16px;
  height: 16px;
}

.vote-button .vote-count {
  font-size: 12px;
  color: #a9a9a9;
}

.vote-button.active .vote-count {
  color: #000; /* 투표 활성화 시 색상 변경 */
}

.vote-button.upvote.active img {
  filter: brightness(0) saturate(100%) invert(49%) sepia(81%) saturate(2618%) hue-rotate(334deg) brightness(93%) contrast(97%);
}

.vote-button.downvote.active img {
  filter: brightness(0) saturate(100%) invert(23%) sepia(83%) saturate(5681%) hue-rotate(192deg) brightness(98%) contrast(102%);
}
