.create-post-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 240px; /* 상단 헤더와 위치 선택 바 높이를 더해서 적절한 패딩 추가 */
    background-color: #E7EBF0 ;
  }
  
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1000;
  }
  
  .header-button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 20px;
  }
  
  .header-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  /* 위치 선택이 페이지 상단에 위치 */
  .location-select {
    width: 100%;
    max-width: 400px;
    height: 60px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  } 
  
  .title-input {
    /*margin-top: 25px;  위치 선택 아래에 적절한 간격 */
    width: 100%;
    max-width: 400px;
  }
  
  .title-input input {
    width: 100%;
    height: 50px;
    padding: 15px;
    font-size: 18px;
    box-sizing: border-box;
    border: none; /* 테두리 제거 */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* 옅은 구분선 추가 */
    outline: none; /* 포커스 시 외곽선 제거 */
    border-radius: 5px;
  }

  .char-count {
    color: #7a7575;
    font-size: 13px;
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 10px;
  }
  
  .content-input {
    margin-top: 10px;
    width: 100%;
    max-width: 400px;
  }
  
  .content-input textarea {
    width: 100%;
    height: calc(100vh - 300px); /* 동적으로 높이를 조정 */
    padding: 15px;
    font-size: 1rem;
    box-sizing: border-box;
    resize: none; /* 사용자가 크기를 조정하지 못하도록 설정 */
    border: none; /* 테두리 제거 */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* 옅은 구분선 추가 */
    outline: none; /* 포커스 시 외곽선 제거 */
    margin-top: 0;
    border-radius: 5px;
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 320px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000;
  }
  
  .popup p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #333;
  }
  
  .popup button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5d71f6;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .popup button:hover {
    opacity: 0.8;
  }