.mission-image-container {
  text-align: center;
  padding: 20px;
  border: 2px solid #d3e7d7;
  border-radius: 10px;
  max-width: 400px;
  margin: 20px 20px; /* 상하 20px, 좌우 auto로 가운데 정렬 */
  box-sizing: border-box; /* 패딩을 포함한 너비 계산 */
  margin-top: 50px;
}

.image-upload-box {
  width: 100%;
  height: 300px;
  border: 2px dashed #6cb76c;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

.image-upload-box p {
  font-size: 20px;
  color: #555;
}

.mission-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.mission-image-title {
  font-size: 1.1rem; /* 적당한 폰트 크기 */
  font-weight: bold; /* 굵게 강조 */
  color: #2d6187; /* 부드러운 블루 계열 */
  margin-bottom: 10px; /* 아래 여백 추가 */
  text-align: center; /* 중앙 정렬 */
  font-family: "Poppins", sans-serif; /* 세련된 폰트 */
  letter-spacing: 1px; /* 텍스트 간격 조정 */
}
