.mission-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px; /* 패딩을 줄여서 세로 높이를 줄임 */
  border: 2px solid #e0e0e0;
  border-radius: 12px;
  background-color: #f9f9f9;
  margin-bottom: 15px;
  margin-top: 25px;
  max-width: 600px;
  margin-left: 15px;
  margin-right: 15px;
}

.mission-left {
  display: block;
}

.mission-text {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px; /* 텍스트와 아이콘 사이의 간격을 조금 줄임 */
}

.mission-exp {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #8c8c8c;
}

.exp-icon {
  width: 18px; /* 아이콘 크기를 조금 줄임 */
  height: 18px;
  margin-right: 5px;
}

.exp-value {
  color: #8c8c8c;
  font-weight: bold;
}

.mission-status {
  font-size: 30px;
  font-weight: bold;
  color: #4f8a8b;
  text-align: right;
}

.success {
  color: #6cb76c;
}

.progress {
  color: #4f8a8b;
}
