.mission-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%; /* 너비를 100%에서 90%로 변경하여 양쪽 간격을 만듦 */
  max-width: 600px; /* 최대 너비 설정 */
  padding: 10px;
  border: 2px solid #e0e0e0;
  border-radius: 12px;
  background-color: #f9f9f9;
  margin: 0 auto 10px; /* 가운데 정렬 및 하단 마진 */
  cursor: pointer; /* 버튼 스타일을 위한 커서 변경 */
  text-align: left; /* 텍스트를 왼쪽 정렬 */
  margin-top: 25px;
}

.mission-left {
  display: block;
}

.mission-text {
  font-size: 17px;
  font-weight: 500;
  margin-right: 10px;
  margin-bottom: 10px; /* 텍스트와 아이콘 사이 간격을 줄임 */
  color: #6cb76c;
}

.mission-exp {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #8c8c8c;
}
.exp-icon {
  width: 18px; /* 아이콘 크기를 조금 줄임 */
  height: 18px;
  margin-right: 5px;
}

.exp-value {
  color: #8c8c8c;
  font-weight: bold;
  font-size: 20px;
}

/* .mission-status {
  font-size: 25px;
  font-weight: bold;
  color: #4f8a8b;
  text-align: right;
}

.success {
  color: #6cb76c;
  font-size: 30px;
} */

.mission-status {
  display: inline-block;
  padding: 10px;
  border-radius: 12px;
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); /* 부드러운 그림자 */
}

.mission-status.success {
  background: linear-gradient(145deg, #4cd964, #3ecf57); /* 아이폰 스타일의 그린 그라디언트 */
}

.mission-status.progress {
  background: linear-gradient(145deg, #007aff, #005ecb); /* 아이폰 스타일의 블루 그라디언트 */
}

.mission-status:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 확대 */
}
