.summary-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px; /* 패딩 수정 */
  margin: 15px;
}

.summary-card {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding: 20px; /* 패딩 수정 */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.ai-summary,
.mission-summary {
  display: flex;
  align-items: center;
  width: 100%; /* 카드 전체를 차지하도록 설정 */
}

.summary-icon,
.summary-icon-robot {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.summary-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.summary-content h3 {
  font-size: 18px;
  margin: 0;
  color: black;
  font-weight: 800;
}

.summary-content p {
  font-size: 14px;
  margin: 8px 0 0 0; /* 위쪽 여백만 설정 */
  color: #555;
}

.mission-summary .mission-reward {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.coin-icon {
  width: 20px;
  height: 20px;
}

.main-card-title {
  font-weight: 800;
}

.summary-text,
.mission-text {
  margin: 10px 0 0 0; /* 위쪽 여백만 설정 */
}
